<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <h2>Creacion de cuentas de usuario</h2>
                <div class="row">
                    <form method="post">
                        {% csrf_token %}
                        <div class="col-3 mb-3">
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>