<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">WIP</a>
            <a href=""><img height="25" src="{% static 'images/corfo.png' %}" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                </div>
            </div>
        </div>
    </nav>
</header>
<body>
    <section>
        <div class="container mt-5">
            <h2 class="text-center mb-5">Menu principal Administrador</h2>
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="card">
                        <img src="{% static 'images/user config.png' %}" class="card-img-top" alt="Imagen 1">
                        <div class="card-body">
                            <h5 class="card-title">Administracion de cuentas</h5>
                            <p class="card-text">Aqui podras visualizar el detalle de las cuentas que tienen acceso a la plataforma</p>
                            <a href="{% url 'mantenedores' %}" class="btn btn-primary">Cuentas</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="{% static 'images/dashboard.png' %}" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Dashboard</h5>
                            <p class="card-text">Aqui podras visualizar las estadisticas creadas a partir de las
                                encuestas realizadas</p>
                            <a href="{% url 'dashboard' %}" class="btn btn-primary">Dashboads</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<footer>
</footer>
</body>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</html>